.about-cover{
    background: url(../../../assets/images/doctor/140311-background5.webp);
      h2 {
        font-weight: 600;
        text-align: center;
        padding: 20px 0 10px 0;
      }
    .about-content-cover{
        display: flex;
        gap: 50px;
        padding: 20px 100px;
        .about-content-left{
                width: 50%;
                  iframe {
                    width: 100%;
                    padding: 0;
                    margin: 0;
                    box-sizing: border-box;
                    border-radius: 15px;
                    border: none;
                }
        }
        .about-content-right{
            width: 50%;
                .right-cover{
                    display: flex;
                    justify-content: space-between;
                    .social-left{
                        a{
                            padding: 12px;
                            margin: 8px 5px;
                            background-color: rgb(11, 214, 106);
                            border-radius: 10px;
                        }
                            width: 50%;
                            display: flex;
                            flex-direction: column;
                            text-align: center;
                    }
                    .social-right{
                        a{
                             padding: 12px;
                            margin: 8px 5px;
                            background-color: rgb(11, 214, 106);
                            border-radius: 10px;
                        }
                            width: 50%;
                            display: flex;
                            flex-direction: column;
                            text-align: center;
                    }
                }
        }
    }
}