.cover-facility{ 
    background-color: white !important;

.section-specialty{
     height: 330px;
    .specialty-container{
            margin: 0 180px;
        .specialty-header
        {
            display: flex;
            justify-content: space-between;
            align-items: center;
            height: 60px;
            padding: 50px 0;
            .more{
                    background-color: #333;
                    color: white;
                    padding: 6px 8px;
                    border-radius: 5px;
            }
    
        }
        .specialty-body{
                .specialty-customize{
                    background-color: #eceeee;
                    .bg-image-facility{
                        width: 240px;
                        height: 150px;
                        background: url(../../../assets/images/facility/facility1.jpg);
                        background-position: center center;
                        background-repeat: no-repeat;
                        background-size: contain;

                    }
                    .bg-title{
                        margin-top: 10px;
                        text-align: center;
                    }
                }
                .slick-prev { 
            border-radius: 5px;
            height: 45px !important;
            width: 40px !important;
            z-index: 10;
            margin-left: 20px !important;
            background: #45c3d2 !important;
            opacity: 0.7;
            &:hover{
                opacity: 1;
            }
        }

        .slick-next {
            border-radius: 5px;
            height: 45px !important;
            width: 40px !important;
            z-index: 10;
            margin-right: 20px !important;
            background: #45c3d2 !important;
            opacity: 0.7;
            &:hover{
                opacity: 1;
            }
        }
            }
    }
   
  
}

  }

// reset css of liabary
