@import "../../styles/common.scss";

.header-container {
    z-index: 99;
    display: flex;
    justify-content: space-between;
    background-color: $colormain;
    color: $common-text-color;
    height: 40px;
    position: relative;
    .languages{
        .welcome{
            margin-right: 15px;
        }
            .language-vi{
                opacity: .8;
                padding: 2px;
                cursor: pointer;
                &.active{
                    opacity: 1;
                    color: yellow;
                }
            }
            .language-en{
                opacity: .8;
                margin: 0 5px;
                padding: 2px;
                cursor: pointer;
                &.active{
                    opacity: 1;
                    color: rgb(8, 199, 225);
                }
            }
        .btn-logout {
        color: $common-text-color;
        line-height: 40px;
        height: 40px;
        padding: 0 10px;
        &:hover {
            background-color: darken($colormain, 5);
        }
        i {
            font-size: $base-size + 1px;
        }
    }
    }
    
}